<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679375108075-e6kiqhju9mab7vpegt8lglra0gbri1ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679375108075-e6kiqhju9mab7vpegt8lglra0gbri1ve</string>
	<key>API_KEY</key>
	<string>AIzaSyBRO_zfzat372DLezRUZgu7JLzID23TyJY</string>
	<key>GCM_SENDER_ID</key>
	<string>679375108075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>likhayakulati.co.za.matchMingle</string>
	<key>PROJECT_ID</key>
	<string>match-mingle-d9e89</string>
	<key>STORAGE_BUCKET</key>
	<string>match-mingle-d9e89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679375108075:ios:11e7e5dd8193ad6f714bae</string>
</dict>
</plist>